{% extends "base.html" %} 
{% load static %}

{% block title %} Article {% endblock title %}

{% block content %}
    <!-- ########################## Contents ########################## -->
    <!-- Search Result -->
     <section class="background_gray">
        <div class="container">
          
          <div class="article_container">
            <div class="article_card" href="#">
              <h2>{{ note}}</h2>
              <a href="{% url 'update_article' pk=article.id %}"><p>edit article</p></a>
              <a href="{% url 'delete_article' pk=article.id %}"><p>delete</p></a>
              <h2 class="article_heading">{{ article.name }}</h2>
              <p class="article_hr"></p>
              <p class="article_p"><b>Category:</b>{{ article.category }}</p>
              <p class="article_p"><b>Type:</b>{{ article.type }}</p>
              
                {% for key, value in article.fields.items %}
                  <p class="article_p"><b>{{key}}:</b> {{value}}</p>
                {% endfor %}

              <p class="article_p"><b>About:</b> {{ article.about }}</p>

            </div>
            <a class="see_all_link" href="./search_result.html">
              <p>Go Back <i class="fas fa-caret-right"></i></p>
            </a>
          </div>
      </div>
    </section>
{% endblock content %}
