{% extends "base.html" %} 
{% load static %}

{% block title %} Category {% endblock title %}

{% block content %}
    <!-- ########################## Contents ########################## -->
    <!-- Search Result -->
     <section class="background_gray">
        <div class="container">
          
          <div class="article_container">
            <div class="article_card" href="#">
              <h2 class="article_heading">{{ category.name }}</h2>
              <p class="article_hr"></p>
              
                {% for article in articles %}

                  {% if article.category == category.name %}
                    <p class="article_p"><b>Name:</b> {{ article.name }}</p>
                  {% endif %}

                {% endfor %}

            </div>
            <a class="see_all_link" href="./search_result.html">
              <p>Go Back <i class="fas fa-caret-right"></i></p>
            </a>
          </div>
      </div>
    </section>
{% endblock content %}
