{% extends "base.html" %} 
{% load static %}

{% block title %} Home {% endblock title %}

{% block content %}
<!-- ########################## Contents ########################## -->
    <!-- Top Search by keyword Section -->
    <section>
    <section class="top_image">
      <div class="container">
        <h1 class="top_h1">Kia Ora!</h1>
        <h2 class="top_h2">Whitecliffe Digital Resources</h2>
        <p class="top_p">Supporting your study with multiple resources and<br> enhancing the quality of learning.</p>
        <div class="top_center_container">
          <div class="key_search_container">
            <form class="key_search" action="{% url 'search' %}" method="get">
                <input type="text" name="search" placeholder="Search by a keyword in the title">
                <button type="submit"><i class="fa fa-search"></i> </button>
            </form>
          </div>

        </div>
      </div>
    </section>

     <!-- Search By Category -->
     <section class="container">
      <div class="center_container">
        <h1 class="cat_search_title">Search By Category</h1>

        <div class="cat_search_flex">
          <a href="{% url 'category' pk=2 %}">
            <image src="{% static 'images/icon_art.png' %}" alt="Art" />
            <h2 class="cat_search_heading">Art</h2>
          </a>
          <a href="{% url 'category' pk=1 %}">
            <image src="{% static 'images/icon_math.png' %}" alt="Mathmatics" />
            <h2 class="cat_search_heading">Mathmatics</h2>
          </a>
          <a href="{% url 'category' pk=3 %}">
            <image src="{% static 'images/icon_tech.png' %}" alt="Technology" />
            <h2 class="cat_search_heading">Technology</h2>
          </a>
        </div>
        
      </div>
      <a class="see_all_link" href="./search_result.html">
        <p>All Articles List <i class="fas fa-caret-right"></i></p></a>
        {% if user.is_authenticated %}
          {% for group in user.groups.all %}
            {% if group.name == 'Tutors' or group.name == 'Administrators'%}
              <a href="{% url 'create_article' %}"><p>create article</p></a>
            {% endif %}
          {%endfor%}
          {% if user.is_superuser %} 
            <a href="{% url 'create_article' %}"><p>create article</p></a>
          {% endif %}
        {% endif %}

      

    </section>

{% endblock content %}